@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aleo:400,700&display=swap');
@import 'reset';
$white-text-color: #fff;
$button-hover-color: rgba(4, 31, 74, 0.95);
$button-hover-shadow: 3px 2px 30px 2px $button-hover-color;
$light-blue-color: #5474fd;
$light-blue-color-opacity: rgba(83, 115, 252, 0.8);
$josefin-font: 'Josefin Sans', sans-serif;
$aleo-font: 'Aleo', serif;


.body{
  padding: 15px;
}
.container{
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
}
.banner{
  background: url("../images/bg.jpg") 50% no-repeat;
  background-size: cover;
  font-family: $josefin-font;
  color: $white-text-color;

  &__cotainer{
    padding-top: 265px;
    padding-bottom: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__tittle{
    font-size: 48px;
    letter-spacing: 5px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__tagline{
    font-size: 22px;
    letter-spacing: 7px;
    margin-top: 15px;
  }
  &__form{
    width: 650px;
    height: 60px;
    background-color: #fff;
    margin-top: 55px;
    display: flex;
  }

  &__scroll-box{
    margin-top: 120px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.scroll-box__text{
  font-size: 14px;
  letter-spacing: 3px;
  color: $white-text-color;
  margin-bottom: 15px;
}
.form__input-container{
  width: 500px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.form__search-input{
  border:none;
  font-size: 14px;
  letter-spacing: 3px;
  color: #999999;
  font-family: $josefin-font;
  width: 100%;
  text-align: center;
}
.form__search-button{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 150px;
  height: 100%;
  background-color: $light-blue-color;
  border: 2px solid #ffffff;
}
.search-button__text{
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: $white-text-color;
  font-family: $aleo-font;
  font-weight: 400;
  margin-right: 13px;
}
.form__search-button:hover{
  background-color: $button-hover-color;
  border-color: $button-hover-color;
  -webkit-box-shadow: $button-hover-shadow;
  -moz-box-shadow: $button-hover-shadow;
  box-shadow: $button-hover-shadow;
}

.header{
  height: 80px;
  width: 100%;
  background-color: $light-blue-color;
  font-family: $josefin-font;

  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__company-name-h2{
    font-size: 24px;
    letter-spacing: 2px;
    color: $white-text-color;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__nav{
    width: 526px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.nav__item{
  font-size: 14px;
  color: $white-text-color;
  font-family: $aleo-font;
  font-weight: 400;
  text-transform: uppercase;

  &__a{
    text-decoration: none;
  }
  &__a:visited,
  &__a:link{
    color: $white-text-color;
  }
  &__a:hover{
    color: $button-hover-color;
  }
}

.why-us{
  background: url("../images/why-bg.jpg") 50% no-repeat;
  background-size: cover;
  padding: 120px 0;

  &__container{
    display: flex;
    justify-content: space-between;
  }

  &__info{
    width: 530px;
    height: 445px;
    padding-top: 80px;

  }
  &__photo-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 475px;
    height: 445px;

  }
}
.info__tittle{
  font-size: 36px;
  color: $white-text-color;
  font-family: $aleo-font;
  font-weight: 400;
  margin-bottom: 55px;
}
.info__description{
  margin-top: 30px;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.5;
  color: #e8e8e8;
  font-family: $josefin-font;
}
.photo-box__first-image {
  align-self: flex-start;
}
.photo-box__second-image {
  align-self:flex-end;
}
.info__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 60px;
  background-color: $light-blue-color-opacity;
  margin-top: 50px;

  font-size: 16px;
  letter-spacing: 1px;
  color: $white-text-color;
  font-family: $aleo-font;
  font-weight: 400;
  text-transform: uppercase;
}
